<div align="center">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, height: "400"}, 201084992);
</script>
    <iframe src="https://discord.com/widget?id=804650085052055563&theme=dark" width="350" height="500" align="texttop" style="display: block;" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
